<div class='listing-show' id='listing-show'>
<a href='javascript:void(0)' class='primary_image' data-toggle="modal" data-target="#photo-modal">
  <img src='<%= @listing.main_photo.photo_url %>' alt='nothing'></img>
</a>
<div class="modal fade" id="photo-modal" tabindex="-1" role="dialog" aria-hidden="true">


    <a href='javascript:void(0)' class="close" data-dismiss="modal" style='z-index:2;'><i class='fa fa-times-circle fa-4x'></i></a>

    <div class="modal-content">
    </div>
  </div>



<div class='col-md-8 col-md-offset-2'>
  <div class=' media col-md-7' id='listing-basic'>
    <div class="media-left">
      <a href="javascript:void(0)">
        <img class='media-object media-round' src='<%= @listing.user.try(:profile_photo).try(:photo_url) %>'>
      </a>
    </div>
    <div class='media-body'>

      <div class="media-heading h3">
        <%= @listing.title %><br>
        <%= @listing.location_alias.try(:name) %>
        --todo:star ratings--
      </div>
      <div class="col-md-3">
        <i class='icon large home'></i>
        <%= @listinghousing_type %>
      </div>
      <div class="col-md-3">
        <i class='icon large users'></i>
        <%= @listing.accomodates %> Guests
      </div>
      <div class="col-md-3">
        <%= @listing.bedrooms %> Bedrooms
      </div>
      <div class="col-md-3">
        <i class='fa fa-hotel fa-2x'></i>
        <%= @listing.beds %> Beds
      </div>

    </div>
  </div>

  <div class='form-v col-md-5 pull-right'>
    <div class="booking-form">
        <%= render 'shared/booking_form', listing: @listing %>
    </div>
  </div>

  <div class='detail-area col-md-7'>
    <div class='listing-section' id='listing-details'>
      <div class='col-md-2 cate-title'>
        Details
      </div>

      <div class="col-md-5 cate-detail">
        <div class='cate-item col-md-12'>
          Check In: <%= @listing.checkin.strftime('%I:%M%p') %>
        </div>
        <div class='cate-item col-md-12'>
          Check Out: <%= @listing.checkout.strftime('%I:%M%p') %>
        </div>

      </div>
    </div>


    <div class='listing-section' id='listing-amenities'>
      <div class='col-md-2 cate-title'>
        Amenities
      </div>

      <% @amenity_names.each_slice(((@amenity_names.length / 2.0) + 0.49).round) do |amenity_slice| %>
        <div class='col-md-5 cate-detail'>
          <% amenity_slice.each do |amenity| %>
            <% provided = @amenities.send(amenity) ? 'provided' : 'unprovided' %>
            <div class='cate-item col-md-12'>
              <i class='<%= icon[amenity] ? icon[amenity] : icon['default'] %> <%= provided %>'></i>
              <span class='<%= provided %>'><%= amenity.gsub('_', ' ') %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class='listing-section media' id='listing-description'>
      <div class='col-md-2 cate-title'>
        Description
      </div>
      <div class="col-md-10 cate-detail">
        <div class='col-md-10 col-md-offset-1 cate-item'>
          <%= @listing.description %>
        </div>
      </div>
    </div>

    <div class='listing-section media' id='listing-rules'>
      <div class='col-md-2 cate-title'>
        Rules
      </div>
      <div class="col-md-10 cate-detail">
        <div class='col-md-10 col-md-offset-1 cate-item'>
          <%= @listing.rules %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class='mappy' id='listing-map'>
</div>

</div>
