<div class='listing-show' id='listing-show'>
<a href='javascript:void(0)' class='primary_image' data-toggle="modal" data-target="#photo-modal">
  <img src='<%= @listing.main_photo.photo_url %>' alt='nothing'></img>
</a>
<div class="modal fade" id="photo-modal" tabindex="-1" role="dialog" aria-hidden="true">


    <a href='javascript:void(0)' class="close" data-dismiss="modal" style='z-index:2;'><i class='fa fa-times-circle fa-4x'></i></a>

    <div class="modal-content">
    </div>
  </div>
</div>
<div class='listing-section media col-md-8 col-md-offset-2' id='listing-basic'>
  <div class="media-left">
    <a href="javascript:void(0)">
      <img class='media-object media-round' src='<%= @listing.user.try(:profile_photo).try(:photo_url) %>'>
    </a>
  </div>
  <div class='media-body'>
    <div class="col-md-8">
      <div class="media-heading h3">
        <%= @listing.title %><br>
        <%= @listing.location_alias.try(:name) %>
        --todo:star ratings--
      </div>
      <div class="col-md-3">
        <i class='icon large home'></i>
        <%= @listinghousing_type %>
      </div>
      <div class="col-md-3">
        <i class='icon large users'></i>
        <%= @listing.accomodates %> Guests
      </div>
      <div class="col-md-3">
        <%= @listing.bedrooms %> Bedrooms
      </div>
      <div class="col-md-3">
        <i class='fa fa-hotel fa-2x'></i>
        <%= @listing.beds %> Beds
      </div>
    </div>
  </div>

</div>

<div class='col-md-8 col-md-offset-2'>
  <div class='listing-section media col-md-8' id='listing-amenities'>
    <% @listing.amenities.each do |amenity| %>
      <%= amenity if @listing.instance_variable_get("@#{amenity}") %>
    <% end %>

    Check In: <%= @listing.checkin.strftime('%I:%M%p') %>
    Check Out: <%= @listing.checkout.strftime('%I:%M%p') %>
  </div>

  <div class='listing-section media col-md-8' id='listing-description'>
    <%= @listing.description %>
  </div>

  <div class='listing-section media col-md-8' id='listing-rules'>
    <%= @listing.rules %>
  </div>

  <div id='listing-map'>
  </div>
</div>
</div>
