<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="">
      <ul class="nav nav-tabs navbar-left">
        <li role="presentation"><%= link_to 'Home', root_url %></li>
      </ul>
    </div>

      <% if signed_in? %>
        <div class="nav navbar-right">
          <div class="navbar-text dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-expanded="false">
              Logged in as: <%= current_user.username ? current_user.username : current_user.email %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" ><%= link_to 'Account', user_url(current_user) %></li>
              <li role="presentation" ><%= link_to "Logout", session_url(0), method: :delete %></li>
            </ul>
          </div>
        </div>
      <% else %>
        <ul class="nav nav-tabs navbar-right">
          <li role="presentation" >
            <a href='javascript:void(0)' data-toggle="modal" data-target="#login-modal">Login</a>
          </li>
          <li role="presentation" >
            <a href='javascript:void(0)' data-toggle="modal" data-target="#signup-modal">Sign Up</a>
          </li>
        </ul>
      <% end %>
  </div>
<!-- login modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <a class="close" data-dismiss="modal" >x</a>
        <h4 class="modal-title">Login to LairDnD</h4>
      </div>

      <div class="modal-body">
        <div class='flashes'></div>
        <%= render 'shared/user_form', url: sessions_url, modal: true, is_login: true %>
    </div>
  </div>
</div>
<!-- signup modal -->
<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <a class="close" data-dismiss="modal" >x</a>
        <h4 class="modal-title">Create Account</h4>
      </div>

      <div class="modal-body">
        <div class='flashes'></div>
        <%= render 'shared/user_form', url: users_url, modal: true, is_login: false %>
    </div>
  </div>
</div>


</nav>
